:root {

  // colors
  --color-transparent: rgba(0, 0, 0, 0);
  --color-black: #101112;
  --color-white: #ffffff;
  --color-gray: #a0a0a0;
  --color-dark-gray: #878888;
  --color-light-gray: #e4e4e4;
  --color-lighter-gray: #f7f7f7;
  --color-blue-gray: #6d7786;
  --color-green: #1bb05b;
  --color-yellow: #f49b43;
  --color-red: #f16f6f;
  --color-blue: #404fc9;

  // other
  --default-transition: all 0.1s ease-in-out;
  --default-box-shadow: 5px 5px 50px rgba(39, 44, 49, .1), 0px 5px 12px rgba(39, 44, 49, .1);
}
