:root {

  // colors
  --color-jet-black: #000000;
  --color-black: #101112;
  --color-light-black: #2C2C2C;
  --color-white: #ffffff;
  --color-gray: #a5a5a5;
  --color-light-gray: #f3f4f4;
  --color-green: #1bb05b;
  --color-yellow: #f49b43;
  --color-red: #f16f6f;

}
