:root {

  // colors
  --color-transparent: rgba(0, 0, 0, 0);
  --color-black: #101112;
  --color-white: #ffffff;
  --color-gray: #a0a0a0;
  --color-light-gray: #f2f2f2;
  --color-lighter-gray: #f7f7f7;
  --color-green: #1bb05b;
  --color-yellow: #f49b43;
  --color-red: #f16f6f;
  --color-blue: #404fc9;

  // transitions
  --transition-default: all 0.2s ease-in-out;
}
